# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# PowerShell files will always have CRLF line endings on checkout.
*.{ps1,[pP][sS]1} text eol=crlf
*.{psd1,[pP][sS][dD]1} text eol=crlf
*.{psm1,[pP][sS][mM]1} text eol=crlf
*.{ps1xml,[pP][sS]1[xX][mM][lL]} text eol=crlf
*.{psc1,[pP][sS][cC]1} text eol=crlf
*.{clixml,[cC][lL][iI][xX][mM][lL]} text eol=crlf

# Windows script and batch files will always have CRLF line endings on checkout.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Set svg to binary type, as SVG is unlikely to be editted by hand. Can be treated as checked in blob
*.{svg,[sS][vV][gG]} binary

# Denote all files that are truly binary and should not be modified.
*.{png,[pP][nN][gG]} binary
*.{jpg,[jJ][pP][gG]} binary
*.{pdf,[pP][dD][fF]} binary
